* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}

body{
  padding: 0 40px;
  background-color: rgb(230, 214, 201);
  color: rgb(44, 20, 2);;
}



header{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
 
}

.logo{
  font-size: 1.5em;
}

.lists{
  list-style: none;
  display: flex;
  transition: all 5s ease-out;

 
}


.lists li{
  margin: 0 15px;
}

.lists li:hover{
  color: rgb(177, 105, 50);
}

button{
  background: none;
  padding: 8px 25px;
  color: rgb(44, 20, 2);
  border: 2px solid rgb(77, 36, 5);
  font-weight: bold;
  box-shadow: 0 2px 5px rgb(54, 53, 53);
}

button:hover{
  background-color: rgb(44, 20, 2);
  color: white;
}

.heroes-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(44, 20, 2);
  padding: 20px 0;
  
  
}

.heroes-header{
  font-size: 3.7em;
}

.heroes-paragraph{
  margin: 30px 0;
  font-size: x-large;
  font-style: italic;
}

.heroes-section button{
  background-color: rgb(44, 20, 2);
  color: white;
  padding: 18px 40px;
  box-shadow: 0 2px 5px rgb(32, 31, 31);
}

.heroes-section button:hover{
  background: none;
  color: rgb(44, 20, 2);
  border: 2px solid rgb(77, 36, 5);
  font-weight: bold;
  
}

.heroes-image img{
  height: 500px;
  width: 440px;
  border-radius: 0 0 0 150px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.collection-card{
  border: 2px solid rgb(44, 20, 2);
  
 
}

.collection-card img{ 
  height: 270px;
  width: 265px;
  display: block;
  
  
}


.bestseller-section{
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 20, 2);
  margin: 0 -40px;
  padding: 70px 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  
}

.bestseller-writeup{
  margin: 0 40px;
}

.bestseller-section h1{
  font-size: 28px;
 
}

.bestseller-section p{
  
  font-size: 15px;
  margin: 30px 0;
}

.bestseller-section button{
  border: 2px solid white;
  color: white;
  padding: 18px 40px;
  box-shadow: 0 2px 5px rgb(32, 31, 31);
}

.bestseller-section button:hover{
  background-color: white;
  color: rgb(44, 20, 2);
}

.bestseller-images{
  display: flex;
  gap: 10px;
  margin: 15px 40px;
  
}


.bestseller-images p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0;
}

.product-section{
  background-color: white;
  margin: 0 -40px;
  padding: 70px 0;
  font-weight:500;
  
}

.product-section h1{
  text-align: center;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 40px;
}

.product-lists{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 10px 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-lists li{
  margin: 0 13px;
  
}

.product-images{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 40px;
  gap: 24px;
}

/* .card:hover{
  transform: scale(1.1);
  transition: transform 1.2s ease-in-out;
  z-index: 3;
  
} */

.people-section{
  background-color: white;
  margin: 0 -40px;
  padding: 10px 0;
  
}

.people-section h1{
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.people-cardgrp{
  display: flex;
  gap: 49px;
  flex-wrap: wrap;
  margin: 0 40px;
  justify-content: space-between;
}

.people-card{
  text-align: center;
  height: 300px;
  width: 350px;
  background-color: rgb(230, 214, 201);
  margin-top: 50px;
  padding-top: 50px;

}

.people-comment{
  text-align: center;
  margin: 0 30px;
  

}

.people-card img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.people-name{
  margin-top: 10px;
  font-weight: bold;
}

.people-ref{
  margin-top: 10px;
}

.picture-section{
  background-color: white;
  margin: 0 -40px;
  padding: 10px 0;
}

.picture-grp{
  display: flex;
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  width: fit-content;
  flex-wrap: wrap;
}

.picture-card img{
  height: 180px;
  width: 210px;
}


/* Mobile View*/

@media screen and (max-width: 700px){

  *{
    overflow-x: hidden;
  }

  body{
    padding: 0 30px;
    overflow-x: hidden;
  }

  header{
    padding: 50px 0;
  }
  .lists, header button{
    display: none;
  }

  .heroes-section{
    flex-direction: column;
    margin: 100px 0;
  }

  .heroes-header{
    font-size: 2.8em;
  }
  
  .heroes-image{
    margin: 30px 0;
  }

  .heroes-image img{
    display: none;
  }

  .collection-section{
    padding: 0 80px;
    background: none;
  }

  .collection-section h1{
    font-size: 1.8em;
    margin-top: 10px;
  }
  
  .collection-images{
    margin: 50px 0;
    flex-direction: column;
    width: fit-content;
  }

  .collection-card img{ 
    height: 300px;
    width: 250px;
    border: 3px solid rgb(44, 20, 2);
  }

  .heroes-section button{
    display: block;
    margin: 0 auto;
    padding: 22px 60px;
  }

  .bestseller-section{
    flex-direction: column;
  }

  .bestseller-images{
    flex-direction: column;
    margin-top: 50px;
  }
}