* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}

body{
  padding: 0 40px;
  background-color: rgb(230, 214, 201);
  
}



header{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: rgb(44, 20, 2);
}

.logo{
  font-size: 1.5em;
}

.lists{
  list-style: none;
  display: flex;
 
}


.lists li{
  margin: 0 15px;
}

.lists li:hover{
  color: rgb(177, 105, 50);
}

button{
  background: none;
  padding: 8px 25px;
  color: rgb(44, 20, 2);
  border: 2px solid rgb(77, 36, 5);
  font-weight: bold;
  box-shadow: 0 2px 5px rgb(54, 53, 53);
}

button:hover{
  background-color: rgb(44, 20, 2);
  color: white;
}

.heroes-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px;
  color: rgb(44, 20, 2);
  
  
}

.heroes-header{
  font-size: 3.7em;
}

.heroes-paragraph{
  margin: 30px 0;
  font-size: x-large;
  font-style: italic;
}

.heroes-section button{
  background-color: rgb(44, 20, 2);
  color: white;
  padding: 18px 40px;
  box-shadow: 0 2px 5px rgb(32, 31, 31);
}

.heroes-section button:hover{
  background: none;
  color: rgb(44, 20, 2);
  border: 2px solid rgb(77, 36, 5);
  font-weight: bold;
  
}

.heroes-image img{
  height: 500px;
  width: 440px;
  border-radius: 0 0 0 150px;
}

.collection-section{
  background-color: white;
  margin: 0 -40px;
  padding: 10px 100px;
  color: rgb(44, 20, 2);
  
}

.collection-section h1{
  margin-top: 80px;
  font-size: 2.7em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.collection-sub{
  color: white;
  background-color: rgb(75, 37, 8);
  padding: 10px 0;
 
}

.collection-sub p{
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

.collection-images{
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
  
}

.collection-card{
  border: 2px solid rgb(44, 20, 2);
  
 
}

.collection-card img{ 
  height: 270px;
  width: 265px;
  display: block;
  
  
}


.bestseller-section{
  display: flex;
  justify-content: space-between;
  background-color: rgb(44, 20, 2);
  margin: 0 -40px;
  padding: 70px 100px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  
}

.bestseller-section h1{
  font-size: 28px;
  padding: 0 20px 0 0;
 
}

.bestseller-section p{
  margin: 10px 0;
  padding: 0 20px 0 0;
  font-size: 15px;
  margin: 30px 0;
  
}

.bestseller-section button{
  border: 2px solid white;
  color: white;
  padding: 18px 40px;
  box-shadow: 0 2px 5px rgb(32, 31, 31);
  
}

.bestseller-images{
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.bestseller-images p{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0;
}
/* Mobile View*/

@media screen and (max-width: 700px){

  *{
    overflow-x: hidden;
  }

  body{
    padding: 0 30px;
    overflow-x: hidden;
    
  }

  header{
    padding: 50px 0;
  }
  .lists, header button{
    display: none;
  }

  .heroes-section{
    flex-direction: column;
    margin: 100px 0;
  }

  .heroes-header{
    font-size: 2.8em;
  }
  
  .heroes-image{
    margin: 30px 0;
  }

  .heroes-image img{
    display: none;
  }

  .collection-section{
    padding: 0 80px;
    background: none;

  }

  .collection-section h1{
    font-size: 2em;
    margin-top: 10px;
  }
  
  .collection-images{
    margin: 50px 0;
    flex-direction: column;
    width: fit-content;
   
  }

  .collection-card img{ 
    height: 300px;
    width: 250px;
    border: 3px solid rgb(44, 20, 2);
    
  }

  .heroes-section button{
    display: block;
    margin: 0 auto;
    padding: 22px 60px;
    
  }
}